
<div class="mt-5 mb-5">
  result <strong><%= number_to_human(Feed.sum(:entries_count), format: '%n%u', units: { thousand: 'K', million: 'M' }) %></strong> entries from <strong><%= @pagy.count %></strong> feeds
  <div class="float-right">
    <div class="rounded  bg-gray-100 border hover:underline border-gray-300 px-2 text-gray-500 md:flex hidden">
      <%= link_to 'csv', feeds_path(format: 'csv'), title: 'export feeds as csv' %>
    </div>
  </div>
</div>

<%= render 'shared/feeds', feeds: @feeds %>
